<h1 class="titulo">Repositórios do GitHub</h1>
<p class="titulo">Página destinada a exibição dos repositórios dos integrantes da grupo desenvolvedor da aplicação</p>

<img src="../assets/guilherme.jpg" alt="Foto Guilherme">
<h3 class="card-title">Guilherme Domingues Branco Pires</h3>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Repositório</th>
      <th scope="col">Descrição</th>
      <th scope="col">Disponível em</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repositorio of repositorio">
      <td>{{repositorio.id}}</td>
      <td>{{repositorio.name}}</td>
      <td>{{repositorio.description}}</td>
      <td><a target="_blank" href="{{repositorio.html_url}}">{{repositorio.html_url}}</a></td>
    </tr>
  </tbody>
</table>


<img src="../assets/pedro.jpg" alt="Foto Pedro">
<h3 class="card-title">Pedro Henrique Garcia Affonso</h3>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Repositório</th>
      <th scope="col">Descrição</th>
      <th scope="col">Disponível em</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repos of repos">
      <td>{{repos.id}}</td>
      <td>{{repos.name}}</td>
      <td>{{repos.description}}</td>
      <td><a target="_blank" href="{{repos.html_url}}">{{repos.html_url}}</a></td>
    </tr>
  </tbody>
</table>
