<div class="first">
  <h1>Seja muito bem-vindo(a)!</h1>
  <img class="svg" src="../assets/home1.svg">
  <p>Esta é a aplicação destinada a apresentação dos projetos de angular dos alunos do 5º ciclo de Sistemas para Internet da Fatec Rubens Lara. Dentre as tarefas apresentadas, temos: <strong> Cotação do Bitcoin em Dólar americano e Real e a listagem dos repositórios dos integrantes deste grupo.</strong></p>
  <h2>Desenvolvedores do projeto</h2>
</div>
<div class="principal">
  <div class="card text-center" style="width: 18rem;">
    <img src="../assets/guilherme.jpg" class="card-img-top" alt="Foto Guilherme">
    <div class="card-body">
      <h5 class="card-title">Guilherme Domingues Branco Pires</h5>
      <h6 class="card-subtitle mb-2 text-muted">UI/UX Designer</h6>
      <p class="card-text">Aluno do 5º ciclo de Sistemas para Internet da FATEC RL. Tenho 20 anos, natural de Santos/SP</p>
      <a href="https://www.linkedin.com/in/guilherme-b-7019a5124/" target="_blank" class="btn btn-primary">LinkedIn</a>
      <a href="https://github.com/guibrancoo" target="_blanck" class="btn btn-primary">GitHub</a>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem;">
    <img src="../assets/pedro.jpg" class="card-img-top" alt="Foto Pedro">
    <div class="card-body">
      <h5 class="card-title">Pedro Henrique Garcia Affonso</h5>
      <h6 class="card-subtitle mb-2 text-muted">Front-End Developer</h6>
      <p class="card-text">Aluno do 5º ciclo de Sistemas para Internet da FATEC RL. Tenho 24 anos, natural de São Paulo/SP</p>
      <a href="https://www.linkedin.com/in/pedro-henrique-garcia-affonso-54982a13b/" target="_blank" class="btn btn-primary">LinkedIn</a>
      <a href="https://github.com/pedrohgaffonso" target="_blank" class="btn btn-primary">GitHub</a>
    </div>
  </div>
</div>
